<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>ムービーイメージ</th>
      <th>タイトル</th>
      <th>監督</th>
      <th>主演</th>
      <th>ムービーレビュー</th>
      <th>上映時間</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.image %></td>
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= movie.director %></td>
        <td><%= movie.staff %></td>
        <td><%= movie.information %></td>
        <td><%= movie.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New movie", new_movie_path %>
