<body class = "body_user_show">
  <div class = "wrap_movie_show">

    <div class="movie_table">
      <% @movie.each do |movie| %>
        <%= link_to "戻る", categories_list_path(keyword: movie.category_id), class: "user_show_link" %>
        <table>
          <tr>
            <th><%= image_tag movie.image %></th>
            <td><%= movie.title %></td>
          </tr>
        </table>
      <% end %>
    </div>

    <% @review.each do |re| %>
      <div class="box27">
        <span class="box-title"><%= re.nickname %> さんのレビュー</span>
        <span class="star-rating" data-score=<%= re.rating %>></span>
        <p><%= re.review %></p>
      </div>
    <% end %>

  </div>
</body>

<script>
$('.star-rating').raty({
  number: 10,
  path: '/assets/',
  readOnly: true,
  score: function () {
    return $(this).attr('data-score');
  }
});
</script>

