<body class = "body_user_show">
  <div class = "wrap_user_show">


    <%= link_to user_path(@user) do %>
      <div class="text_user">メモ数</div>
      <div class="num_user"><%= @user.movies.count %></div>
    <% end %>


<% @user.movies.each do |movie| %>
  <div class="user_movie_body">
    <%= image_tag movie.image %>
    <%= movie.title %><br>
    <%= movie.director %><br>
    <%= movie.category_id %><br>
    <%= movie.when %><br>
    <%= movie.time %><br>
    <%= movie.information %><br>
    <%= link_to "レビューを書く", movie_path(movie.id) %>
    <%= link_to "削除", movie_path(movie.id), method: :delete, class: "...", "data-confirm" => "本当に削除しますか？" %>
  </div>

<% end %>

</div>
</body>
