<body class = "body_post">
  <div class = "wrap">

    <h1 class = "h1_post" ><%= @post.title %></h1>
<br>

<div class = "clearfix">
  <%= render :partial => 'talk_room' %>
</div>

<br>

<% if user_signed_in? %>
  <%= form_for( [@post, @comment] ) do |comment| %>
    <%= comment.text_area :talk, class: "..." %>
    <%= comment.submit "投稿" %>
  <% end %>
<% end %>

<br>

<%= link_to "編集", edit_post_path(@post.id), class: "..." %>
<%= link_to "削除", post_path(@post.id), method: :delete, class: "...", "data-confirm" => "本当に削除しますか？" %>

<%= link_to "一覧", posts_path, class: "..." %>

  </div>
</body>


