<body class = "body_movie_index">
  <div class = "wrap_movie_index">

    <div class = "movie_index_title">
      <h1>カテゴリー</h1>
    </div>


<%= link_to "● アクション/アドベンチャー", action_path, class: "categories_link" %><br>
<%= link_to "● ドラマ", drama_path, class: "categories_link" %><br>
<%= link_to "● SF/ファンタジー", fantasy_path, class: "categories_link" %><br>
<%= link_to "● コメディ", comedy_path, class: "categories_link" %><br>
<%= link_to "● ロマンス", romance_path, class: "categories_link" %><br>
<%= link_to "● キッズ/ファミリー", kids_path, class: "categories_link" %><br>
<%= link_to "● スポーツ", sports_path, class: "categories_link" %><br>
<%= link_to "● ミュージカル", musical_path, class: "categories_link" %><br>
<%= link_to "● アニメ", anime_path, class: "categories_link" %><br>
<%= link_to "● スリラー", thriller_path, class: "categories_link" %><br>
<%= link_to "● ドキュメンタリー", documentary_path, class: "categories_link" %><br>
<%= link_to "● 名作", masterpiece_path, class: "categories_link" %><br>
<%= link_to "● 音楽ドキュメンタリー", music_dc_path, class: "categories_link" %><br>
<%= link_to "● 音楽映画", music_mv_path, class: "categories_link" %><br>
<%= link_to "● ホラー", horror_path, class: "categories_link" %><br>
<%= link_to "● 趣味/教養", hobby_path, class: "categories_link" %><br>
<%= link_to "● 邦画", japanese_path, class: "categories_link" %><br>
<%= link_to "● ライブビデオ", live_path, class: "categories_link" %>

</div>
</body>