<h1>カテゴリー一覧</h1>

<%= link_to "アクション/アドベンチャー", action_path %><br>
<%= link_to "ドラマ", drama_path %><br>
<%= link_to "SF/ファンタジー", fantasy_path %><br>
<%= link_to "コメディ", comedy_path %><br>
<%= link_to "ロマンス", romance_path %><br>
<%= link_to "キッズ/ファミリー", kids_path %><br>
<%= link_to "スポーツ", sports_path %><br>
<%= link_to "ミュージカル", musical_path %><br>
<%= link_to "アニメ", anime_path %><br>
<%= link_to "スリラー", thriller_path %><br>
<%= link_to "ドキュメンタリー", documentary_path %><br>
<%= link_to "名作", masterpiece_path %><br>
<%= link_to "音楽ドキュメンタリー", music_dc_path %><br>
<%= link_to "音楽映画", music_mv_path %><br>
<%= link_to "ホラー", horror_path %><br>
<%= link_to "趣味/教養", hobby_path %><br>
<%= link_to "邦画", japanese_path %><br>
<%= link_to "ライブビデオ", live_path %>
