<body class = "body_movie_index">
  <div class = "wrap_movie_index">

    <div class = "movie_index_title">
      <h1>カテゴリー</h1>
    </div>


<%= link_to "● アクション/アドベンチャー", categories_list_path(keyword: "アクション／アドベンチャー"), class: "categories_link" %><br>
<%= link_to "● ドラマ", categories_list_path(keyword: "ドラマ"), class: "categories_link" %><br>
<%= link_to "● SF/ファンタジー", categories_list_path( keyword: "SF／ファンタジー"), class: "categories_link" %><br>
<%= link_to "● コメディ", categories_list_path(keyword: "コメディ"), class: "categories_link" %><br>
<%= link_to "● ロマンス", categories_list_path(keyword: "ロマンス"), class: "categories_link" %><br>
<%= link_to "● キッズ/ファミリー", categories_list_path(keyword: "キッズ／ファミリー"), class: "categories_link" %><br>
<%= link_to "● スポーツ", categories_list_path(keyword: "スポーツ"), class: "categories_link" %><br>
<%= link_to "● ミュージカル", categories_list_path(keyword: "ミュージカル"), class: "categories_link" %><br>
<%= link_to "● アニメ", categories_list_path(keyword: "アニメ"), class: "categories_link" %><br>
<%= link_to "● スリラー", categories_list_path(keyword: "スリラー"), class: "categories_link" %><br>
<%= link_to "● ドキュメンタリー", categories_list_path(keyword: "ドキュメンタリー"), class: "categories_link" %><br>
<%= link_to "● 名作", categories_list_path(keyword: "名作"), class: "categories_link" %><br>
<%= link_to "● 音楽ドキュメンタリー", categories_list_path(keyword: "音楽ドキュメンタリー"), class: "categories_link" %><br>
<%= link_to "● 音楽映画", categories_list_path(keyword: "音楽映画"), class: "categories_link" %><br>
<%= link_to "● ホラー", categories_list_path(keyword: "ホラー"), class: "categories_link" %><br>
<%= link_to "● 趣味/教養", categories_list_path(keyword: "趣味／教養"), class: "categories_link" %><br>
<%= link_to "● 邦画", categories_list_path(keyword: "日本映画"), class: "categories_link" %><br>
<%= link_to "● ライブビデオ", categories_list_path(keyword: "ライブビデオ"), class: "categories_link" %>

</div>
</body>
