<!DOCTYPE html>
<html>
  <head>
    <title>MoviePrivate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
          <%= link_to 'トップ', root_path, class: "header_nav" %>
        <% if user_signed_in? %>
          Logged in as <%= current_user.email %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_nav" %>
          <%= link_to "マイページ", user_path(current_user), class: "header_nav" %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: "header_nav" %>
          <%= link_to "ログイン", new_user_session_path, class: "header_nav" %>
        <% end %>
          <%= link_to "ムービー検索", movies_path, class: "header_nav" %>
          <%= link_to "レビュー総合", categories_path, class: "header_nav" %>
          <%= link_to "トークルーム", posts_path, class: "header_nav" %>
          <%= link_to "地図検索", google_maps_path, class: "header_nav" %>
      </nav>
    </header>

   <%= yield %>

  </body>
</html>
